@icon-font-path: '../fonts/';
@fa-font-path: '../fonts/';
// bower:less
@import "bower_components/slick-carousel/slick/slick.less";
@import "bower_components/font-awesome/less/font-awesome.less";
@import "bower_components/bootstrap/less/bootstrap.less";
@import "bower_components/animate.less/animate.less";
// endbower

/** Configuration */

@import url("https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:400,600");
@import "bower_components/jasny-bootstrap/less/jasny-bootstrap.less";
@import "bower_components/seiyria-bootstrap-slider/src/less/bootstrap-slider.less";
// @import "bower_components/slick-carousel/slick/slick-theme.less";
@font-family-sans-serif: "Open Sans",
Helvetica,
Arial,
sans-serif;
@font-family-serif: Georgia,
"Times New Roman",
Times,
serif;
@font-family-monospace: Menlo,
Monaco,
Consolas,
"Courier New",
monospace;
@font-family-base: @font-family-sans-serif;
@font-size-base: 14px;
@font-size-large: ceil((@font-size-base * 1.25)); // ~18px
@font-size-small: ceil((@font-size-base * 0.85)); // ~12px
@font-size-h1: floor((@font-size-base * 2.6)); // ~36px
@font-size-h2: floor((@font-size-base * 2.15)); // ~30px
@font-size-h3: ceil((@font-size-base * 1.7)); // ~24px
@font-size-h4: ceil((@font-size-base * 1.25)); // ~18px
@font-size-h5: @font-size-base;
@font-size-h6: ceil((@font-size-base * 0.85)); // ~12px
@line-height-base: 1.428571429; // 20/14
@line-height-computed: floor((@font-size-base * @line-height-base)); // ~20px
@headings-font-family: "Montserrat",
Helvetica,
Arial,
sans-serif;
@headings-font-weight: 700;
@headings-line-height: 1.1;
@headings-color: #7aa65d;
@tatti-yellow: #eccd63;

/** End Configuration */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* Space out content a bit */

body {
    // padding-top: 20px;
    padding-bottom: 20px;
    &.dark{
        padding-top:48px;
        background-color: #222;
    }
}

a {
    color: #222;
    &:hover,
    &:focus {
        color: @headings-color;
        transition: color 0.2s;
        text-decoration: none;
    }
}


/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}


/* Custom page header */

.header {
    border-bottom: 1px solid #e5e5e5;
    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}


/* Custom page footer */

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}


/* Main marketing message and sign up button */

.jumbotron {
    // text-align: center;
    border-bottom: 1px solid #e5e5e5;
    .btn {
        font-size: 21px;
        margin-right: 8px;
        padding: 12px 24px;
    }
    h2 {
        color: #333;
        margin-bottom: 16px;
        text-align: center;
        @media only screen and (min-width: @screen-sm-min) {
            text-align: left;
            font-size: 36px;
        }
        @media only screen and (min-width: @screen-md-min) {
            font-size: 40px;
        }
        @media only screen and (min-width: @screen-lg-min) {
            font-size: 45px;
        }
        &.light {
            color: white;
        }
        span {
            color: darken(@tatti-yellow, 40%);
            &.light {
                color: white;
            }
        }
    }
    p {
        text-align: center;
        margin: 24px 0;
        @media only screen and (min-width: @screen-sm-min) {
            text-align: left;
        }
    }
}

#offcanvas {
    padding: 16px;
}

.opinion {
    .media-left {
        display: block;
        margin-bottom: 8px;
    }
}


/* Supporting marketing content */

.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

.align-vertical {
    margin-top: 40px;
    vertical-align: middle;
}

// /* Responsive: Portrait tablets and up */
// @media screen and (min-width: 768px) {
//     .container {
//         max-width: 960px;
//     }
//     /* Remove the padding we set earlier */
//     .header,
//     .marketing,
//     .footer {
//         padding-left: 0;
//         padding-right: 0;
//     }
//     /* Space out the masthead */
//     .header {
//         margin-bottom: 30px;
//     }
//     /* Remove the bottom border on the jumbotron for visual effect */
//     .jumbotron {
//         border-bottom: 0;
//     }
// }

/**
 *  Custom Code Starts here
 */

.navbar-default {
    &.chameleon-bar {
        background-color: transparent;
        border-bottom: none;
        .container-fluid {
            padding-left: 40px;
            padding-right: 40px;
        }
        .navbar-btn {
            i {
                margin-right: 4px;
            }
        }
        ul {
            li {
                a {
                    color: black;
                }
            }
        }
        .navbar-brand {
            padding: 8px 15px;
        }
        .navbar-toggle {
            margin-left: -15px;
            background: transparent;
            color: #fff;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            border: 1px solid white;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
        }
    }
}

.testimonial-slider {
    padding-bottom: 32px;
    .slick-dots {
        margin: 12px auto;
        text-align: center;
    }
    .lead {
        &:before {
            content: "\❝";
            font-family: @font-family-serif;
            font-size: 1.5em;
            color: rgba(0, 0, 0, 0.25);
        }
    }
}

span.sub {
    margin-top: 8px;
    font-weight: bold;
    display: block;
    text-align: center;
    width: 100%;
    @media only screen and (min-width: @screen-sm-min) {
        text-align: left;
    }
}

.scrolled {
    background: white!important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2)!important;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease-in;
}

.jumbotron {
    &.hero {
        // margin-top: 50px;
        padding-top: 100px;
        padding-bottom: 0;
        height: 532px;
        h1 {
            margin-bottom: 32px;
        }
        img {
            height: 128px;
            padding-left: 16px;
        }
        background-color: #ECCD63;
        background-image: url(../images/slider/5.jpg);
        background-repeat:no-repeat;
        background-position: 50%;
        background-size: cover;
    }
    &.last {
        h3 {
            color: @tatti-yellow;
        }
        .lead {
            color: white;
        }
        margin-bottom: 0;
        background: linear-gradient(180deg,
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.25)),
        url(../images/quiz.jpg);
        background-attachment: fixed;
        background-size: cover;
    }
    &.factron {
        color: white;
        h3 {
            color: @tatti-yellow;
        }
        h4,
        p {
            color: white;
        }
        background: linear-gradient(0deg,
        rgba(0, 0, 0, 0.75),
        darken(@headings-color, 20%)),
        url(../images/tips.jpg);
        background-attachment: fixed;
        background-size: cover;
        .media {
            margin-top: 32px;
            .media-left {
                a {
                    color: white;
                    display: inline-block;
                    height: 48px;
                    width: 48px;
                    background-color: darken(@tatti-yellow, 10%);
                }
            }
        }
    }
}

.ingredient {
    height: 128px;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding: 16px;
    @media only screen and (min-width: @screen-sm-min) {
        width: 33%;
    }
}

img {
    &.rounded {
        border-radius: 50%;
        border: 2px solid #ccc;
    }
    &.logo-light,
    &.logo-dark {
        height: 36px;
    }
    &.lupin-logo {
        margin-top: 40px;
        height: 200px;
    }
}

a.social-link {
    color: #444;
    text-decoration: none;
    display: inline;
    padding: 12px 24px;
    vertical-align: middle;
    i.fa-2x {
        margin-right: 8px;
        vertical-align: middle;
    }
    &:hover,
    &:focus {
        color: @headings-color;
        transition: color 0.2s;
    }
}


/** Gauge */

.gauge-wrap {
    position: relative;
    margin: 0 0 20px;
    width: 250px;
    height: 150px;
}

.gauge-core {
    position: relative;
    overflow: hidden;
    height: inherit;
    width: inherit;
}

.gauge-wrap-before {
    position: absolute;
    width: 16px;
    height: 16px;
    bottom: -7px;
    /* 1px less to cover clipping */
    left: 3px;
    clip: rect(0, 16px, 16px, 0px);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    z-index: 5;
}

.gauge-wrap-after {
    position: absolute;
    width: 16px;
    height: 16px;
    bottom: -7px;
    /* 1px less to cover clipping */
    right: 3px;
    clip: rect(8px, 16px, 16px, 0px);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    z-index: 5;
}

.gauge-bg {
    position: absolute;
    width: 250px;
    height: 250px;
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
    border-radius: 125px;
    z-index: 0;
}

.gauge-active-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 250px;
    overflow: hidden;
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
    border-radius: 125px;
}

.gauge-active {
    top: 125px;
    position: absolute;
    width: 250px;
    height: 250px;
    overflow: visible;
    -webkit-border-radius: 0px 0px 200px 200px;
    -moz-border-radius: 0px 0px 200px 200px;
    border-radius: 0px 0px 200px 200px;
    z-index: 1;
}

.gauge-active-before {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: inherit;
    top: -7px;
    /* 1px less to cover clipping */
    left: 0px;
    clip: rect(0px, 16px, 8px, 0px);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    z-index: 5;
}

.gauge-cap {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 218px;
    height: 218px;
    -webkit-border-radius: 109px;
    -moz-border-radius: 109px;
    border-radius: 109px;
    // background: linear-gradient(180deg, #444, #555);
    background: white;
    z-index: 5;
    .indicator {
        width: 10px;
        border-radius: 5px;
        height: 100px;
        top: 129px; //Added 20 to keep the pointer center dot in play
        left: 109px;
        position: absolute;
        background: lighten(red, 20%);
        transform: rotate(0deg);
        transform-origin: 0 0;
        transition: all 0.2s ease-in;
    }
    ul {
        /* Define two variables as the loop limits */
        @from : 1;
        @to : 24;
        /* Create a Parametric mixin and add a guard operation */
        .loop(@index) when(@index =< @to) {
            /* As the mixin is called CSS is outputted */
            li:nth-child(@{index}) {
                transform: rotate(unit(@index * 15, deg)) translateY(-7em);
            }
            /* Interation call and operation */
            .loop(@index + 1);
        }

        li {
            display: block;
            width: .2em;
            height: .6em;
            background: #929394;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -.4em 0 0 -.1em;
        }

        .loop(@from);
    }
}

.box {
    float: left;
    padding: 20px;
    width: 250px;
}

.box-clear{
    display: block;
    clear:both;
    float:none;
    padding:20px;
    width: 250px;
}


/** Gauge End */


/** Slick Theme */

// Default Variables
@slick-font-path: "../fonts/";
@slick-font-family: "slick";
@slick-loader-path: "./";
@slick-arrow-color: white;
@slick-dot-color: black;
@slick-dot-color-active: @slick-dot-color;
@slick-prev-character: "←";
@slick-next-character: "→";
@slick-dot-character: "•";
@slick-dot-size: 12px;
@slick-opacity-default: 0.75;
@slick-opacity-on-hover: 1;
@slick-opacity-not-active: 0.25;

/* Slider */

.slick-loading .slick-list {
    background: #fff url('@{slick-loader-path}ajax-loader.gif') center center no-repeat;
}


/* Icons */

@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;
    src: url('@{slick-font-path}slick.eot');
    src: url('@{slick-font-path}slick.eot?#iefix') format('embedded-opentype'),
    url('@{slick-font-path}slick.woff') format('woff'),
    url('@{slick-font-path}slick.ttf') format('truetype'),
    url('@{slick-font-path}slick.svg#slick') format('svg');
}


/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    &:hover,
    &:focus {
        outline: none;
        background: transparent;
        color: transparent;
        &:before {
            opacity: @slick-opacity-on-hover;
        }
    }
    &.slick-disabled:before {
        opacity: @slick-opacity-not-active;
    }
}

.slick-prev:before,
.slick-next:before {
    font-family: @slick-font-family;
    font-size: 20px;
    line-height: 1;
    color: @slick-arrow-color;
    opacity: @slick-opacity-default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: -25px;
    &[dir="rtl"] {
        left: auto;
        right: -25px;
    }
    &:before {
        content: @slick-prev-character;
        &[dir="rtl"] {
            content: @slick-next-character;
        }
    }
}

.slick-next {
    right: -25px;
    &[dir="rtl"] {
        left: -25px;
        right: auto;
    }
    &:before {
        content: @slick-next-character;
        &[dir="rtl"] {
            content: @slick-prev-character;
        }
    }
}


/* Dots */

.slick-dotted .slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    list-style: none;
    display: block;
    text-align: left;
    @media only screen and (min-width: 400px) and (max-width: 767px) {
        text-align: center;
    }
    padding: 0;
    margin: 0;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
        button {
            border: 0;
            background: transparent;
            display: block;
            height: 20px;
            width: 20px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            &:hover,
            &:focus {
                outline: none;
                &:before {
                    opacity: @slick-opacity-on-hover;
                }
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: @slick-dot-character;
                width: 20px;
                height: 20px;
                font-family: @slick-font-family;
                font-size: @slick-dot-size;
                line-height: 20px;
                text-align: center;
                color: @slick-dot-color;
                opacity: @slick-opacity-not-active;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
        &.slick-active button:before {
            color: @slick-dot-color-active;
            opacity: @slick-opacity-default;
        }
    }
}


/** Slick Theme End */
