.jumbotron.last
    .container#gut-health
      .row.marketing
        .col-xs-12.col-lg-12
          h3.text-center Calculate Your Gut Score
        .col-xs-12.col-lg-5.col-lg-offset-1
          .box
            .gauge-wrap(data-value='50')
        .col-xs-12.col-lg-5
          p.lead
            | Our lifestyles shape our digestive health. We're affected either by anxiety, insomnia, digestive disorders or graver complications to the extent of cancer. Before your gut falls in the health dungeons, test it with our short quiz to restore it to optimal health.
        .col-xs-12.col-lg-12.text-center
          a.btn.btn-success.btn-lg(role='button',href='quiz.html') Get Your Score

