.container#softovac
    .row.marketing
      .col-lg-6.col-xs-12
        img.center-block(src='images/dabba.png', srcset='images/dabba.png 1x, images/dabba@2x.png 2x, images/dabba@3x.png 3x', alt='Softovac main container').align-vertical
      .col-lg-6.col-xs-12
        h3 What is Softovac?
        p.lead
          | Of the many invented remedies to the far-reaching impact of indigestion among young Indian masses, there hung around a vacuum untended. Scientists at Lupin developed Softovac centrally aiming for optimal bowel movement with a non-habit forming, synergistic organic bowel regulating medicine. Softovac enables improved digestion, stimulates effective elimination of body’s waste products, and delivers effective relief on consistent intake.
        br
        p.lead Softovac comes in two variants; Softovac Regular, with 40% fibre and Softovac Sugar-free, 70% fibre
    hr    
    .row.marketing.text-center
      .col-xs-12.col-md-10.col-md-offset-1
        .row
          .col-xs-12.col-lg-12
            h3 Ingredients
          .ingredient
            img.center-block.img-circle(src='images/ingredients/isabgul.png', srcset='images/ingredients/isabgul.png 1x, images/ingredients/isabgul@2x.png 2x, images/ingredients/isabgul@3x.png 3x', alt='isabgul')
            strong Isabgul
            p.text-muted Helps in bulk formation
          .ingredient
            img.center-block.img-circle(src='images/ingredients/harad.png', srcset='images/ingredients/harad.png 1x, images/ingredients/harad@2x.png 2x, images/ingredients/harad@3x.png 3x', alt='harad')
            strong Harad
            p.text-muted Affects frequency of stools and complete evacuation of the bowel
          .ingredient
            img.center-block.img-circle(src='images/ingredients/amaltas.png', srcset='images/ingredients/amaltas.png 1x, images/ingredients/amaltas@2x.png 2x, images/ingredients/amaltas@3x.png 3x', alt='amaltas')
            strong Sanai &amp; Amaltas
            p.text-muted Regulates intestinal motility
          .ingredient
            img.center-block.img-circle(src='images/ingredients/mulethi.png', srcset='images/ingredients/mulethi.png 1x, images/ingredients/mulethi@2x.png 2x, images/ingredients/mulethi@3x.png 3x', alt='mulethi')
            strong Mulethi
            p.text-muted Works as a gentle laxative
          .ingredient
            img.center-block.img-circle(src='images/ingredients/gulab.png', srcset='images/ingredients/gulab.png 1x, images/ingredients/gulab@2x.png 2x, images/ingredients/gulab@3x.png 3x', alt='gulab')
            strong Gulab Dal
            p.text-muted Serves as a cooling agent protecting intestinal membranes
          .ingredient
            img.center-block.img-circle(src='images/ingredients/saunf.png', srcset='images/ingredients/saunf.png 1x, images/ingredients/saunf@2x.png 2x, images/ingredients/saunf@3x.png 3x', alt='saunf')
            strong Saunf
            p.text-muted Prevents acidity and acts a flavouring agent
    hr
    .row.marketing#lupin
      .col-lg-6.col-xs-12
        h3 About Lupin
        p.lead
          | Against the backdrop of international pharmaceutical advancement, Lupin Limited rose to global supremacy in areas of Anti-TB, Cephalosporins (anti-infectives) and Cardiovascular drugs (ACE-inhibitors and cholesterol reducing agents). It set the ball rolling with a leading-edge research centre in Pune. 
        br
        p.lead
          | Bearing an eminent presence in key segments of Diabetes, Anti-inflammatory and Respiratory Therapy, Lupin’s research drills concluded in considerable success in its New Chemical Entity program. The fastest growing pharma giant's pan India footprint is its commitment to deliver high-quality, branded and generic medications trusted by healthcare professionals and patients round the globe.

      .col-lg-6.col-xs-12
        img.lupin-logo.center-block(src='images/lupin-logo.png', srcset='images/lupin-logo.png, images/lupin-logo@2x.png 2x, images/lupin-logo@3x.png 3x', alt='Lupin Pharma')
