.footer
        .container-fluid
          .row.hidden-xs 
            .col-md-5.col-md-offset-1
              address
                strong Lupin Ltd.
                | &nbsp;3rd Floor, Kalpataru Inspire, Off WEH,
                br
                | Santacruz (East), Mumbai 400055, India
                br
                abbr(title="Phone") P: 
                a(href="tel:+912266402323") (+91) 22 6640 2323
                | &nbsp; • &nbsp;
                abbr(title="Phone") E: 
                a(href="mailto:corporateoffice@lupin.com") corporateoffice@lupin.com
            .col-md-5.text-right
                a.social-link
                    i.fa.fa-facebook-official.fa-2x
                    | Facebook
                a.social-link
                    i.fa.fa-linkedin-square.fa-2x
                    | LinkedIn
                a.social-link
                    i.fa.fa-instagram.fa-2x.fa-2x
                    | Instagram
          .row.visible-xs 
            .col-xs-12.text-center
              address
                strong Lupin Ltd.
                br
                | &nbsp;3rd Floor, Kalpataru Inspire, Off WEH,
                br
                | Santacruz (East), Mumbai 400055, India
                br
                abbr(title="Phone") P: 
                a(href="tel:+912266402323") (+91) 22 6640 2323
                | &nbsp; • &nbsp;
                abbr(title="Phone") E: 
                a(href="mailto:corporateoffice@lupin.com") corporateoffice@lupin.com
            .col-xs-12.text-center
              hr
              a.social-link
                i.fa.fa-facebook-official.fa-2x
              a.social-link
                i.fa.fa-linkedin-square.fa-2x
              a.social-link
                i.fa.fa-instagram.fa-2x.fa-2x