nav#offcanvas.navmenu.navmenu-default.navmenu-fixed-left.offcanvas(role='navigation')
  a.navmenu-brand(href='#')
    img.logo-dark(alt='Softovac', src='images/softovac-dark.png', srcset='images/softovac-dark.png 1x, images/softovac-dark@2x.png 2x, images/softovac-dark@3x.png 3x')
  ul.nav.navmenu-nav
    li
      a(href='#') Home 
    li
      a(href='#softovac') About Us
    li
      a(href='#') Media
    li
      a(href='#gut-health') Gut Health
  button.btn.btn-lg.btn-success.btn-block(type='button') 
    i.fa.fa-shopping-bag
    | Buy Now
.navbar.navbar-default.chameleon-bar.navbar-fixed-top
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.pull-left.collapsed(type='button', data-toggle='offcanvas' data-target='#offcanvas' data-canvas='body')
            span.sr-only Toggle navigation
            i.fa.fa-bars.fa-lg
          a.navbar-brand(href='#')
            img.logo-light(alt='Softovac', src='images/softovac-light.png', srcset='images/softovac-light.png 1x, images/softovac-light@2x.png 2x, images/softovac-light@3x.png 3x')
            img.logo-dark(alt='Softovac', src='images/softovac-dark.png', srcset='images/softovac-dark.png 1x, images/softovac-dark@2x.png 2x, images/softovac-dark@3x.png 3x')
          // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#') Home 
            li
              a(href='#softovac') About Us
            li
              a(href='#') Media
            li
              a(href='#gut-health') Gut Health
            button.btn.btn-success.navbar-btn(type='button') 
              i.fa.fa-shopping-bag
              | Buy Now