nav.navbar.navbar-default.dark
  .container-fluid
    // Brand and toggle get grouped for better mobile display
    .navbar-header
      a.navbar-brand.center(href='index.html')
        img.logo-light(alt='Softovac', src='images/softovac-light.png', srcset='images/softovac-light.png 1x, images/softovac-light@2x.png 2x, images/softovac-light@3x.png 3x')
      // Collect the nav links, forms, and other content for toggling