.jumbotron.hero
    .container
      .row
        .col-xs-12.col-md-7
          img.production-box.hidden-xs(src='images/dabba-text-gray.png', srcset='images/dabba-text-gray.png 1x, images/dabba-text-gray@2x.png 2x, images/dabba-text-gray@3x.png 3x', alt='Softovac production container')
          img.production-box.visible-xs.center-block(src='images/dabba-text-gray.png', srcset='images/dabba-text-gray.png 1x, images/dabba-text-gray@2x.png 2x, images/dabba-text-gray@3x.png 3x', alt='Softovac production container')
          span.sub Raho Halke, Jiyo Khulke
          .slick-slider(data-slick='{"slidesToShow": 1, "slidesToScroll": 1}')
            div
              h2
                | Constipation
                br
                span.text-uppercase slowing your day?
            div
              h2 
                | Irregular Bowel Movement
                br
                span.text-uppercase hampering your productivity?
            div
              h2.light
                | Time to take a natural route
                br
                span.text-uppercase.light to Feeling great
            div
              h2
                | Include fibre rich foods &
                br
                span.text-uppercase exercise daily
            div
              h2 Your only solution when the going gets tough
              p
                a.btn.btn-lg.btn-success(href='#') Buy Now
                a.btn.btn-lg.btn-default.hidden-xs(href='#') Get Your Gut Score