.row.marketing.opinion
      .col-lg-12.col-xs-12.text-center
        h2 Professional Opinion - A OK.
      .col-md-6.col-md-offset-3.col-xs-12
        .testimonial-slider(data-slick='{"slidesToShow": 1, "slidesToScroll": 1}')
          div
            p.lead.text-center
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            .media.text-center
                .media-left
                  a(href='#')
                    img.media-object.rounded.center-block(src='http://placehold.it/64x64/fef200', alt='Profile Picture')
                .media-body
                  h5.media-heading Dr. Chris Munnar
                  | Practicing Pediatrician, Piles Clinic
          div
            p.lead.text-center
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            .media.text-center
                .media-left
                  a(href='#')
                    img.media-object.rounded.center-block(src='http://placehold.it/64x64/fef200', alt='Profile Picture')
                .media-body
                  h5.media-heading Dr. Saifee Genius, MD
                  | Chief Psychatrist, Meraki Mindcare