.jumbotron.factron
    .container
      .row
        .col-xs-12
          h3 Gut Health Prep
          p.lead Key success factors to a good gut
      .row
        .col-md-4.col-xs-12.col-lg-4
          .media
            .media-left
              a(href='#')
                img(alt='Fibrous food', src='images/tips/fibrous.png', srcset='images/tips/fibrous.png 1x, images/tips/fibrous@2x.png 2x, images/tips/fibrous@3x.png 3x')
            .media-body
              h4.media-heading Fibrous Food
              | Been trying to get bowel movements in regular shape? Eat supercharged fibrous food like ground flaxseed, berries and avocados to support your bowels
        .col-md-4.col-xs-12.col-lg-4
          .media
            .media-left
              a(href='#')
                img(alt='Deep breathing', src='images/tips/deepbreathe.png', srcset='images/tips/deepbreathe.png 1x, images/tips/deepbreathe@2x.png 2x, images/tips/deepbreathe@3x.png 3x')
            .media-body
              h4.media-heading Deep Breathing
              | Deep Breating not only helps weigh down anxeity, but also helps nutrients reach areas of your body, most importantly, the digestive system which in turn regulates bowel movements
        .col-md-4.col-xs-12.col-lg-4
          .media
            .media-left
              a(href='#')
                img(alt='Eat leafy', src='images/tips/leafy.png', srcset='images/tips/leafy.png 1x, images/tips/leafy@2x.png 2x, images/tips/leafy@3x.png 3x')
            .media-body
              h4.media-heading Eat Leafy
              | If your gut is glad, you're not far from feeling in good shape. Eating leafy greens like asparagus to fibre fruits like raw banana ensures active bowels
      .row
        .col-md-4.col-xs-12.col-lg-4
          .media
            .media-left
              a(href='#')
                img(alt='Go herbal', src='images/tips/herbal.png', srcset='images/tips/herbal.png 1x, images/tips/herbal@2x.png 2x, images/tips/herbal@3x.png 3x')
            .media-body
              h4.media-heading Go Herbal
              | Involve herbs and spices like ginger, coriander seeds, black pepper - these noutish the liver. You can even add them in your meals, smoothies, teas and salads!
        .col-md-4.col-xs-12.col-lg-4
          .media
            .media-left
              a(href='#')
                img(alt='Get Your Essential Fats', src='images/tips/fattenup.png', srcset='images/tips/fattenup.png 1x, images/tips/fattenup@2x.png 2x, images/tips/fattenup@3x.png 3x')
            .media-body
              h4.media-heading Get Your Essential Fats
              | Get your essential fats from oily fish, nuts and coconutes to strengthen intestinal membranes function moving waste through the colon
        .col-md-4.col-xs-12.col-lg-4
          .media
            .media-left
              a(href='#')
                img(alt='Keep walking', src='images/tips/walking.png', srcset='images/tips/walking.png 1x, images/tips/walking@2x.png 2x, images/tips/walking@3x.png 3x')
            .media-body
              h4.media-heading Keep Walking
              | Brisk walk, run free, swim long to improve intestine motility for quicker evacuation of waste
      .row
        .col-xs-12.col-lg-12.text-center
          br
          br
          button.btn.btn-success.btn-lg Check It Now