.row
      .col-md-12.col-xs-12
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(src='https://www.youtube-nocookie.com/embed/OVMRbYFKJ30?rel=0&amp;controls=0',allowfullscreen)