doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Gut Heath Quiz - Softovac
    meta(property='og:url', content='http://www.your-domain.com/your-page.html')
    meta(property='og:type', content='website')
    meta(property='og:title', content='Know Where Your Gut Lies With This Quiz')
    meta(property='og:description', content='Your gateway to health is a stable gut. We help you reverse gut health imbalances with this short quiz offering targeted relief', data-description)
    meta(property='og:image', content='http://www.your-domain.com/path/image.jpg', data-image)
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    // Place favicon.ico in the root directory

    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild

    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild

    // build:js scripts/vendor/modernizr.js
    script(src='../bower_components/modernizr/modernizr.js')
    // endbuild
  body.dark
    <!--[if lt IE 10]>
      p.browserupgrade You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    <![endif]-->
    include partials/social

    block content

       
    //- include partials/footer

    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      // ga('create','UA-XXXXX-X');ga('send','pageview');

    // build:js scripts/vendor.js
    // bower:js
    script(src='../bower_components/jquery/dist/jquery.js')
    script(src='../bower_components/modernizr/modernizr.js')
    // endbower
    // endbuild

    // build:js scripts/plugins.js
    script(src='../bower_components/bootstrap-less/js/affix.js')
    script(src='../bower_components/bootstrap-less/js/alert.js')
    script(src='../bower_components/bootstrap-less/js/dropdown.js')
    script(src='../bower_components/bootstrap-less/js/tooltip.js')
    script(src='../bower_components/bootstrap-less/js/modal.js')
    script(src='../bower_components/bootstrap-less/js/transition.js')
    script(src='../bower_components/bootstrap-less/js/button.js')
    script(src='../bower_components/bootstrap-less/js/popover.js')
    script(src='../bower_components/bootstrap-less/js/carousel.js')
    script(src='../bower_components/bootstrap-less/js/scrollspy.js')
    script(src='../bower_components/bootstrap-less/js/collapse.js')
    script(src='../bower_components/bootstrap-less/js/tab.js')
    script(src='../bower_components/jasny-bootstrap/js/offcanvas.js')
    script(src='scripts/gauge.js')
    script(src='../bower_components/slick-carousel/slick/slick.js')
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild