extends layout

block content

  include partials/slider

  include partials/description

  include partials/tips

  .container
    include partials/video
    hr
    include partials/testimonials
  
  include partials/calculate