extends layout

block content

  include partials/slider

  include partials/description

  .jumbotron.factron
    .container
      .row
        .col-xs-12
          h3 Gut Health Prep
          p.lead Key success factors to a good gut
      .row
        .col-md-4.col-xs-12.col-lg-4
          .media
            .media-left
              a(href='#')
            .media-body
              h4.media-heading Fibrous Food
              | Been trying to get bowel movements in regular shape? Eat supercharged fibrous food like ground flaxseed, berries and avocados to support your bowels
        .col-md-4.col-xs-12.col-lg-4
          .media
            .media-left
              a(href='#')
            .media-body
              h4.media-heading Deep Breathing
              | Deep Breating not only helps weigh down anxeity, but also helps nutrients reach areas of your body, most importantly, the digestive system which in turn regulates bowel movements
        .col-md-4.col-xs-12.col-lg-4
          .media
            .media-left
              a(href='#')
            .media-body
              h4.media-heading Eat Leafy
              | If your gut is glad, you're not far from feeling in good shape. Eating leafy greens like asparagus to fibre fruits like raw banana ensures active bowels
      .row
        .col-md-4.col-xs-12.col-lg-4
          .media
            .media-left
              a(href='#')
            .media-body
              h4.media-heading Go Herbal
              | Involve herbs and spices like ginger, coriander seeds, black pepper - these noutish the liver. You can even add them in your meals, smoothies, teas and salads!
        .col-md-4.col-xs-12.col-lg-4
          .media
            .media-left
              a(href='#')
            .media-body
              h4.media-heading Fatten Up
              | Get your essential fats from oily fish, nuts and coconutes to strengthen intestinal membranes function moving waste through the colon
        .col-md-4.col-xs-12.col-lg-4
          .media
            .media-left
              a(href='#')
            .media-body
              h4.media-heading Keep Walking
              | Brisk walk, run free, swim long to improve intestine motility for quicker evacuation of waste
      .row
        .col-xs-12.col-lg-12.text-center
          br
          br
          button.btn.btn-success.btn-lg Check It Now
  .container#lupin
    .row.marketing
      .col-lg-6.col-xs-12
        h3 About Lupin
        p
          | Against the backdrop of international pharmaceutical advancement, Lupin Limited rose to global supremacy in areas of Anti-TB, Cephalosporins (anti-infectives) and Cardiovascular drugs (ACE-inhibitors and cholesterol reducing agents). It set the ball rolling with a leading-edge research centre in Pune. 
        br
        p
          | Bearing an eminent presence in key segments of Diabetes, Anti-inflammatory and Respiratory Therapy, Lupin’s research drills concluded in considerable success in its New Chemical Entity program. The fastest growing pharma giant's pan India footprint is its commitment to deliver high-quality, branded and generic medications trusted by healthcare professionals and patients round the globe.

      .col-lg-6.col-xs-12
        img.lupin-logo.center-block(src='images/lupin-logo.png', srcset='images/lupin-logo.png, images/lupin-logo@2x.png 2x, images/lupin-logo@3x.png 3x', alt='Lupin Pharma')
    .row
      .col-md-10.col-md-offset-1.col-lg-10.col-xs-12
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(src='https://www.youtube-nocookie.com/embed/OVMRbYFKJ30?rel=0&amp;controls=0',allowfullscreen)
    hr
    .row.marketing.opinion
      .col-lg-12.col-xs-12.text-center
        h2 Professional Opinion - A OK.
      .col-md-6.col-md-offset-3.col-xs-12
        p.lead.text-center
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        .media.text-center
            .media-left
              a(href='#')
                img.media-object.rounded.center-block(src='http://placehold.it/64x64/fef200', alt='Profile Picture')
            .media-body
              h5.media-heading Dr. Chris Munnar
              | Practicing Pediatrician, Piles Clinic
  .jumbotron.last
    .container#gut-health
      .row.marketing
        .col-xs-12.col-lg-5.col-lg-offset-1
          .box
            .gauge-wrap(data-value='90')
        .col-xs-12.col-lg-5
          h3 Calculate Your Gut Score
          p.lead
            | Our lifestyles shape our digestive health. We're affected either by anxiety, insomnia, digestive disorders or graver complications to the extent of cancer. Before your gut falls in the health dungeons, test it with our short quiz to restore it to optimal health.
          button.btn.btn-success.btn-lg Get Your Gut Health Score